version: '3.8'

services:

  wings:
    image: ghcr.io/pterodactyl/wings:v1.5.1
    env_file:
      - .env
    restart: always
    networks:
      - pterodactyl
      - wings0
    ports:
      - "2022:2022"
    tty: true
    environment:
      TZ: "UTC"
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers/:/var/lib/docker/containers/"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
      - "/etc/ssl/certs:/etc/ssl/certs:ro"
      - "${DATA_DIR}/wings/etc/:/etc/pterodactyl/"
      - "${DATA_DIR}/wings/logs:/var/log/pterodactyl/"
      - "${SERVERS_DATA_FULL_PATH}:${SERVERS_DATA_FULL_PATH}"
    labels:
      # HTTP
      - "traefik.http.routers.pterodactyl_wings.entrypoints=web"
      - "traefik.http.routers.pterodactyl_wings.rule=Host(`${WINGS_DOMAIN}`)"
      - "traefik.http.routers.pterodactyl_wings.middlewares=wings_https"
      - "traefik.http.middlewares.wings_https.redirectscheme.scheme=https"
      # HTTPS
      - "traefik.http.routers.pterodactyl_wings-https.entrypoints=websecure"
      - "traefik.http.routers.pterodactyl_wings-https.rule=Host(`${WINGS_DOMAIN}`)"
      - "traefik.http.routers.pterodactyl_wings-https.tls=true"
      - "traefik.http.routers.pterodactyl_wings-https.tls.certresolver=letsencrypt"
      - "traefik.http.services.pterodactyl_wings-https.loadbalancer.server.port=443"

networks:
  pterodactyl:
    external: true
  wings0:
    name: wings0
    driver: bridge
    ipam:
      config:
        - subnet: "172.21.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: wings0
